:root {
  --orange: #f7a103;
  --light-blue: #e6f2f7;
  --black: #333;
  --max-width: 64em;
}

* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--black);
  background-color: var(--light-blue);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

header {
  background-color: var(--orange);
  padding: 1em;
  margin-bottom: 3em;
}

header img {
  height: 2em;
}

form {
  max-width: var(--max-width);
  background-color: var(--orange);
}
