:root {
  --orange: #f7a103;
  --light-blue: #e6f2f7;
  --dark-blue: #0071b3;
  --black: #333;
  --max-width: 64em;
}

* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  font-family: system-ui;
  color: var(--black);
  background-color: var(--light-blue);
}

img {
  max-width: 100%;
  width: 100%;
}

article img {
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

header {
  background-color: var(--orange);
  padding: 1em;
  margin-bottom: 3em;
}

header img {
  height: 2em;
}

form {
  display: flex;
  align-items: flex-end;
  max-width: var(--max-width);
  background-color: var(--orange);
  padding: 1em;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 2em;
}

form label {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
  flex-grow: 1;
}

form input,
form button {
  appearance: none;
  border: none;
  height: 40px;
  background-color: white;
  font-size: 1em;
}

form input {
  padding: 0 1em;
  margin-top: 0.5em;
}

form button {
  cursor: pointer;
  transition: box-shadow 200ms ease;
  margin: 0 2em;
  width: 200px;

  &:hover {
    box-shadow: 0 0 4px 0 #61c5f8;
  }
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.results > * {
  flex-basis: 20em;
  flex-grow: 1;
  margin: 2em;
  background-color: white;
}

.shrug {
  text-align: center;
  font-size: 5em;
  opacity: 0.4;
}

.pagination {
  text-align: center;
  padding: 2em 0;
}

.pagination a {
  display: inline-block;
  padding: 1em 2em;
  background-color: var(--dark-blue);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin: 1em;
}
