<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Funda</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <img src="/fundawonen-logo.svg" alt="Logo Funda" />
  </header>
  <main>
    <p>Kaart inladen...</p>
  </main>
  <script src="/script.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= google %>&callback=initApp"></script>
</body>
</html>
