<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Funda</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <img src="/fundawonen-logo.svg" alt="Logo Funda" />
  </header>
  <main>
    <video id="stream" autoplay></video>
    <div id="overlay"></div>
  </main>
  <!-- WebRTC Polyfill. Needed to support rear-camera in video constraints-->
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="/script.js"></script>
</body>
</html>
